.headerSection {
    background-color: #15171a;
    height: 15rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-image: url('../../assets/hero-circuit.svg')
}